/* there is a collected style for same divs started from gallery div */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
body{
    font-family: "Cairo", sans-serif;
}
:root{
    --main-color: #03a9f4;
    --main-transition: 0.3s;
    --main-margin:150px;
    --section-color:#ececec;
    --main-padding-top:75px;

    
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
 
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
   
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

.header{
   padding: 5px;
   background-color:white;
   margin-bottom: 10px;
}
/*navbar*/
#brand{
    position: relative;
    left: 80px;
    color: blue;
}
#brand:hover{color: red;}
#navbarNav{
    position: absolute;
    right: 30px;
    display: flex;
    
    
}

.nav-item:hover{ background-color: rgb(245, 231, 231)}
.navbar-light .navbar-nav .nav-link:hover {font-size: 20px; color: rgb(25, 161, 240); }
/*navbar*/

/* other links */
.other-links .container{position: relative;;padding: 20px;;color: var(--main-color);top: -10px;font-weight: bold;display: none;}
.other-links .container{background-color: white;}
.links{border-bottom: 1px solid #777;margin-left: 20px;padding: 20px;}
.other-links img{width: 100%;}

/* other links */
/*landing section*/
.overlay{
    content: "";
    width: 100%;
    top:-20px;
    z-index: -1;
    background-color: #700808;
    min-height: 100%;
    position: absolute;
    top:-25px;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing{margin-top: 25px;margin-bottom: 250px;}
.landing-text h1{font-size: 40px; font-style:oblique; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight:  700;}
.landing-text p{font-size: 25px; color: honeydew;}
@keyframes img-animates {
    0%,100%{top: 100px;}
    50%{top:-40px}
}
.landing-img img{position: relative; max-width: 100%; animation: img-animates 5s linear infinite;}
.go-down{
    text-align: center;color: #03a9f4;
    position: relative;top:150px;
}
@keyframes arrow-animates {
    0%{top: 0px;}
    25%{top:-25px;}
    50%{top: 0px;}
    75%{top:-25px;}
    100%{top: -10px;}
   
   
}
.go-down i{position: relative; animation: arrow-animates 1.5s ease 1s  infinite ;animation-play-state: running;}
/*landing section*/

/*main topics header*/
.topic-header{font-weight: bold;font-size:15px;text-align:center;
border: 2px solid black;text-transform: uppercase;text-align: center;max-width: fit-content;position: relative;padding: 5px;margin: 0px auto 100px;}
.topic-header h1{z-index: 2;position: relative;}
.topic-header::before,.topic-header::after{
    content: "";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color:  #03a9f4;
    height: 15px;
    width: 15px;
    z-index: 1;
}
.topic-header::before{left:  -30px;}
.topic-header::after{right:  -30px;}

.topic-header:hover::before{animation: fill-box-left 1s linear  1 forwards;}
.topic-header:hover::after{animation: fill-box-right 1s linear 1 forwards ;}
@keyframes fill-box-left {
    50%{
        left:0px;
        width: 15px;
        height: 15px;
    }
    100%{
        left: 0px;
        width: 50%;
        height: 100%;
        border-radius: 0%;
    }
}
@keyframes fill-box-right {
    50%{
        right:0px;
        width: 15px;
        height: 15px;
    }
    100%{
        right: 0px;
        width: 50%;
        height: 100%;
        border-radius: 0%;
    }
}

/*main topcic header*/


/* article section */
.article-content{border-radius: 5%;border: 0.5px solidrgb(155, 148, 148); overflow: hidden;color: var(--main-color); position: relative;transform: var(--main-transition);border: 1px solid rgb(214, 210, 210);margin: 15px 5px 5px ;}
.article-content img{width: 100%;}
.article-content h3{font-weight: bold;font-size: 20px;margin-top: 10px; color: black;padding-left: 15px;}
.article-content p{color: rgb(44, 43, 38);border-bottom: 1px solid rgb(155, 148, 148);padding-left: 15px;}
.article-content a{ font-size: 20px;text-decoration: none;font-weight: bold;padding-left: 15px;padding-bottom: 5px;}
.article-content i{position: absolute;right: 20px; }
.article-content:hover{transform: translateY(-10px);  }
.article-content:hover i{animation: arrow-ritght 1s linear infinite  }

@keyframes arrow-ritght {
    0%{right: 20px;}
    50%{right: 5px;}
    100%{right: 10px;}
}

/* article section */

/* gallery section */
/* This is a style for repeated divs */
.gallery,.testominals,.services,.works,.plans,.videos .container,.stats{
    margin-top: var(--main-margin);background-color: var(--section-color);padding: var(--main-padding-top)  0px 20px 0px;
    margin-bottom: 150px;
}
/* This is a style for repeated divs */
.gallery .image::before{
    content: "";
    background-color: rgb(155 148 148/0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    display: block;
    transform: translate(-50%,-50%);
    z-index: 2;
    
}

.gallery .image {padding: 15px; background-color: white;position: relative;overflow: hidden;;}
.gallery .row{margin-top: 15px;}
.gallery .row .image img{max-width: 100%;  transition: var(--main-transition);}
.gallery .image:hover img{transform: rotate(5deg) scale(1.1) ;z-index: -1;}
.gallery .image:hover::before{
    animation: flashing 0.7s;
}
@keyframes flashing {
    0%,40%{opacity: 1;}
    
    100%{width:120%;  height: 120%; opacity: 0;}
}
/* gallery section */


/* Features section */
.features{
    margin: var(--main-margin) 0px 50px 0px;text-align: center;
}
/* div.preButton{display: flex;justify-content: center;}
p.preButtons{height:48px;width: 10px;position: relative;left: 50px;z-index: -1;
top: 0px;text-align: center;border-radius: 5%;;font-size: 20px;font-weight: bold;line-height: 2.2;opacity: 1;transition: 1s;} */
.features .content{padding-bottom: 25px ;justify-content: center;border: 1px solid #777;}
.features .content .image{position: relative;}
.features .content img{max-width: 100%;}
.features .content .image::before{
    content: "";
    position: absolute;
    background-color: #f44036;
    opacity: 0.5;
    width: 100%;
    height: 100%;

}
.features .content .image::after{
    content: "";
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%) skewY(-15deg);
    transform-origin: top right;
    width: 100%;
    height: 50%;

}
.features .content:hover .image::after{
    animation: mirror 0.3s forwards;
}
@keyframes mirror {
    0%{top: 50%;left: 50%; transform: translate(-50%) skewY(-20deg);}
    100%{top: 80%;left: 50%;transform:translate(-50%) skewY(15deg);transform-origin: top right;}
}
.features .content h1{font-weight: bolder; border-bottom: 4px solid  #f44036;;max-width: fit-content;position: relative;margin: 20px auto 20px;font-size: 35px;padding-bottom: 10px;}
.features button{ font-size: 20px; background-color: aliceblue;width: 100px;height: 50px;font-weight: bold;position: relative;color: black;}

.features button.btn-primary {border: 2px solid red;color: #f44036; transition: 1s;}
.features button.btn-secondary {border: 2px solid #009688;color:#009688}
.features button.btn-danger {border: 2px solid green;color: green;}
.preButton{position: relative;}
.features .pre{position: absolute;width: 0px;height: 48px;transition: var(--main-transition);z-index:1;border-radius: 5%;font-size: 20px;font-weight: bold;line-height: 2.2;color: white;z-index: 1;}
/* end Features section */

/* Testominals section */
.testominals .content{position: relative;}
.testominals .imgHolder{width: 100px;height: 100px;background-color:  var(--section-color);border-radius: 50%;justify-content: center;align-items: center;display: flex;position: absolute;right: -5px;top: -30px;}
.testominals .content img{width: 80px;height: 80px;border-radius: 50%;}
.testominals .rate .filled{color: gold;}
.testominals .text{background-color: white;padding: 20px;}
.testominals .text h4{font-weight: bold;}
.testominals .text p,.testominals .text h6{color: #777;}

/* Testominals section */

/* Team members */
/* its to better ro use div contains all items and move the image slight left to avoid the no-effect while hovering on imgHolder::before as its z-index -1 so it won't change anything on hovering    */
.members{margin: var(--main-margin) 0px 100px 0px;width: 100%;}
.members .row,.services .row{margin-bottom: 60px;}
.members .content {margin-left: 50px;padding-bottom: 30px;}
.members .content img{width:100%; border-radius: 10%; width: 280px;height: 280px;}
/* .members .content .overlay-1{min-height: 80vh;background-color: red;position: relative;top-50px}
 */
.members .content img{position: relative;left: -50px;}
 .members .content .imgHolder{position: relative;}
 .members .imgHolder::before{
     content: "";
     position: absolute;
     left: 0px;
     top: -50px;
     min-height: 150%;
     min-width: 300px;
     border-radius: 5%;
     background-color: #f3f3f3;
     z-index: -1;
 }
 .members .imgHolder::after{
     content: "";
     position: absolute;
     right: 0px;
     top: -50px;
     min-height: 150%;
     width: 100%;
     border-radius: 5%;
     background-color: #ececec;
     z-index: -1;
     
 }
 .members .content:hover img{ filter: grayscale(100%);}
 .members .content:hover  .imgHolder::after {animation: fils 0.5s linear forwards ;}
 @keyframes fils {
    0%{background-color: #b9b6b6;; width: 0px; right: 0px;}
    100%{background-color: #b9b6b6; width: 100%;}
 }
 .members .content .text{margin: 15px 15px;}
 .members .content .text h3{color: var(--main-color);font-size: 25px;font-weight: bold;}
 .members .imgHolder .social-icons{display: flex;flex-direction: column;position: absolute;left: 240px;top: 40px;}
 .members .imgHolder .social-icons i{margin: 20px;}
/* Team members */

/* sevices section */
.services .content{background-color: white;padding-top: 50px ;text-align: center;display: flex;row-gap: 30px;flex-direction: column;position: relative;}
.services .content i{color: var(--section-color);}
.services .content h4{color: var(--main-color);font-weight: bold;margin-bottom: 100px;}
.services .content .footer{position: relative;background-color: rgb(245, 241, 241);max-height: 45px;}
.services .content .footer .left-text{position: relative;left: 0px; font-size: 30px;background-color: var(--main-color);text-align: center;max-width: 100px;color: white;font-weight: bold;bottom: 0px;min-height: 100%;}
.services .content .footer p::after{
    content: "";
    position: absolute;
    min-height: 100%;
    min-width: 50px;
    background-color: rgb(204, 189, 189) ;
    left: 100px;
    transform: skewX(-30deg);
    transform-origin: left top;
}
.services .content .footer a{position: absolute;right: 20px;text-decoration: none;bottom: 10px;}
.services .sss{background-color: red;}
.services .content::before,.services .content::after{
    content: "";
    min-height: 3px;
    background-color:var(--main-color);
    min-width: 0px;
    position: absolute;
    top: -3px;
}
.services .content::before{left: 50%;}
.services .content::after{right: 50%;}
.services .content:hover {transform: translateY(-15px);}
.services .content:hover::before{animation: box-left 0.3s linear forwards;}
.services .content:hover::after{animation: box-right 0.3s linear forwards;}

@keyframes box-left {
   
    0%{
        left: 50%;
        width: 0%;
        background-color: var(--main-color);
    }

    100%{
        left: 0px;
        width: 50%;
        background-color: var(--main-color);
    }
}
@keyframes box-right {
    0%{
        right: 50%;
        width: 0%;
        background-color: var(--main-color);
    }
    100%{
        right: 0%;
        width: 50%;
        background-color: var(--main-color);
    }
}

/* sevices section */

/* skills section */

.skills  .holder{display: flex;justify-content: space-around;flex-direction: column;height: 100%;}
.skills img{width: 100%;}
.skills .bar-details{height: 30px;position: relative;}
.skills .progress{height: 30px}
.skills .bar-details span{position: absolute;left: 0px;top: -40px; font-size: 15px;font-weight: bold;color: black;}
.skills .bar-details p{position: absolute;right: 0px;top: -44px; font-size: 15px;font-weight: bold;color: var(--main-color); background-color: white;padding: 2px;border-radius: 10% ;border: 0.5px solid #ccc;}

/* skills section */

/* works */
.works .holder .row{background-color: wheat;border: 2px solid white;padding: 15px;margin-bottom: 10px;position: relative;}
.works .holder .row::before{
    content: "";;background-color: #d3923e;left: 50%;top: 50%;transform: translate(-50%,-50%);
    position: absolute;}
.works .holder .row:hover::before{animation: flashing-1 0.5s linear forwards;}
.works img{width: 100%;}

@keyframes flashing-1 {
    0%,40%{width: 0;height: 0; opacity: 1;}
    

    100%{width:100%;  height: 100%; opacity: 0.5;}
}
/* works */

/* events */
.events .row{text-align: center;justify-content: center;flex-direction: row;}
.events .row img{width: 100%;}
.events .holder .row{text-align: center;margin-bottom: 50px;}
.events .holder .row {text-align: center;margin-bottom: 50px;}
.events .row .input-holder{background-color: var(--section-color);padding: 20px;border-radius: 50px;}
.events .row input{width: 50%;padding: 15px;border: 2px solid #777;border-radius: 50px;background-color: white;}
.events .row button{border-radius: 50px;font-size: 20px;height: 50px;}
.events .dots-right{position: relative;}
.events .dots-right img{position: absolute;right: 0px;justify-content: right;top: -100px;}
.events .dots{position: relative;top: -100px;}
/* events */

/* plans */
.plans{position: relative;}
.plans .row .holder{background-color: white;align-items: center;text-align: center;padding: 10px;position: relative;z-index: 1;font-weight: bold;}
.plans .holder::before,.plans .holder::after{
    content: "";
    position: absolute;
    width: 0px;
    background-color:#8a0404;
   transition: var(--main-transition);
   height: 50%;
   z-index: -1;
   opacity: 0.9;
} 
.plans .holder::before{left: 0; top: 0;}
.plans .holder::after{right: 0; bottom: 0;}
.plans .holder:hover::before,.plans .holder:hover::after{width: 100%;}

.plans .row .holder .text{text-align: center;display: flex; row-gap: 15px;flex-direction: column;align-items: center;position: relative;}
.plans .holder .text h4{font-weight: bold;}
.plans .holder .text h1{font-size: 50px;font-weight: bold;color:var(--main-color);}
.plans .holder .text img{height: 80px;width: 80px;}
.plans .holder .text .price span{position: relative;top: -30px;}


.plans .holder .details{padding-top: 10px; border-top: 1px solid var(--section-color);display: flex;gap: 20px;padding-left: 15px;position: relative;}
.details i{color: var(--main-color);}
.plans .holder  button{background-color: white;color:var(--main-color);font-weight: bold;margin-bottom: 20px;}
#advanced{transform: translateY(-25px);}
/* .advanced::before{content: "Most Popular";position: absolute;width: 120px;height:20px;background-color: red;rotate: 90deg;
right: 0px;top: 30px;} */
.advanced{position: absolute ;top: 0px; right: 20px;;writing-mode:vertical-rl ;font-weight: bold;color: white;
background-color:var(--main-color);width: 40px;padding:  10px 10px 40px 10px;}
.advanced::after{content: ""; position: absolute; width: 20px;height: 40px;right: 0px;bottom: 0px; border: solid;border-color: transparent transparent white;border-width: 20px;}
.plans .dots{position: absolute;left: 0;bottom: 100px;z-index;}
/* .advanced p{position: absolute; right: 0px;;background-color: var(--main-color);align-content: center;} */
/* plans */


/* videos */

.videos .container{padding: 10px 10px 10px 0px;position: relative;}
.videos .vid-header {margin-left: 20px; position: relative;}
.vid-header i{position: absolute;right: 20px;}
.videos img{width: 100%;}
.videos .holder{background-color: white;cursor: pointer;}
.videos .vid-title{border: 1px solid var(--section-color);padding: 10px 10px 15px 25px;position: relative;z-index: 1;}
.vid-title::before{content: "";position: absolute;left: 0;width: 0px;background-color: var(--section-color);height: 100%;top: 0px;z-index: -1;transition: var(--main-transition);}
.vid-title:hover::before{width: 100%;}
.videos .vid-title:hover p{color: var(--main-color);cursor: pointer;}
.videos .footer{position: relative;;top: 150px;; background-color: white;padding: 10px;}
/* videos */

/* stats */


.stats .holder {background-color: white;padding: 25px;align-items: center;text-align: center;display: flex;flex-direction: column;gap: 5px;position: relative;opacity: 0.8;margin-top: 10px;}
.stats .holder::before, .stats .holder::after{
    position: absolute;
    content: "";
    background-color: var(--main-color);
    width: 0px;
    height: 0px;
    transition: 0.7s;
}
.stats .holder::before{left: 0px;top: 0px;}
.stats .holder::after{right: 0px;bottom: 0px;}
.stats .holder:hover{opacity: 1;}
.stats .holder:hover::before{width: 2px;height: 100%;}
.stats .holder:hover::after{width: 2px;height: 100%;}
.stats .holder h3{font-size: 50px; font-weight: bold;}
.stats .holder span{color: var(--main-color);font-weight: bolder;font-style: italic;font-size: 20px;}
/* stats */
.content{margin-top: 30px;}

/* reg-form */
.reg-form{padding: 0px;}
.reg-form .holder{text-align: center;background-image: url("../imgs/discount-background1.jpg")}
.reg-form .holder .back-img{background-color: rgb(25 161 240/0.9);color:white ;padding: 20px;font-weight: bolder;}
.reg-form img{width: 300px; height: 300px;}
.reg-form .form-content{display: flex;gap: 20px;flex-direction: column;padding: 20px;text-align: center;justify-content: center;}
/* reg-form */


@media(max-width:992px){
    .skills .holder{gap: 40px;}
   .skills .bar-details p{top:-33px}
   .skills .bar-details span{position: absolute; top:-30px;}
   .dots,.dots-right{z-index: -1;}
}